body {
	font-family: 'ProximaNova-Regular';
	font-size: 0.875rem;
	font-weight: normal;
	color: #262626;
}

h1, h2, h3, h4 {
	font-family: 'FuturaPTCond-Bold';
}

h2 {
	font-size: 3.125rem;
	text-transform: uppercase;
	letter-spacing: 2px;
}

h3 {
	font-size: 1.875rem;
	text-transform: uppercase;
	letter-spacing: 1px;
}

h4 {
	font-size: 1.5rem;
	text-transform: uppercase;
	letter-spacing: 1px;
}

header {
	background: #262626;
    padding: 40px 0 20px 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
}

header .logo {
	display: block;
	float: left;
	width: 171px;
	height: 42px;
	background: url('../img/logo.png') no-repeat;
}

.wrapper {
	width: 1200px;
	margin: 0 auto;
	position: relative;
}

header .header-nav, header .phone {
	float: right;
	color: #fff;
}

header .header-nav {
	text-decoration: none;
	text-transform: uppercase;
	padding: 13px 20px;
	border: 1px solid #3c3c3c;
	margin-left: 20px;
	font-size: 0.813rem;
	letter-spacing: 2px;
}

header .header-nav:hover {
	border-color: #919191;
}

header .phone {
	padding: 13px 20px 0 0;
	letter-spacing: 2px;
	font-weight: bold;
}

#search-form {
	width: 100%;
	height: 50px;
	position: absolute;
	bottom: 10px;
	z-index: 10;
	display: none;
}

#search-form input {
	width: 100%;
	height: 100%;
	border: 1px solid #3c3c3c;
	padding: 0 20px;
	color: #fff;
	outline: none;
	box-sizing: border-box;
	background: #262626;
}

#search-form input:focus {
	border-color: #919191;
}

.menu {
	position: relative;
}

.menu .search {
	width: 50px;
    height: 50px;
    right: 0;
    bottom: 10px;
    position: absolute;
    cursor: pointer;
    z-index: 20;
}

.menu .search:after {
	content: '';
	position: absolute;
	top: 15px;
    right: 50%;
    margin-right: -10px;
	background: url('../img/sprite.png') no-repeat -10px -10px;
	width: 21px;
	height: 20px;
}

.menu ul {
	margin: 0;
	padding: 10px 0 0 0;
	text-align: justify;
	display: inline-block;
}

.menu ul li:first-child {
	margin-left: 0;
}

.menu ul li{
	display: inline-block;
	color: #fff; 
	margin-left: 40px;
	font-size: 0.813rem;
	text-transform: uppercase;
	letter-spacing: 1px;

}

.menu ul li:hover, .menu ul li.active {
	border-bottom: 4px solid #fff;
	height: 35px;
}

.menu ul li a {
	height: 39px;
	display: block;
	color: #fff;
	text-decoration: none;
}

.menu {
	background: #262626;
    position: absolute;
    top: 104px;
    z-index: 999;
    width: 100%;
}

.slider {
	position: relative;
}

.slider .arrows {
	height: 40px;
    width: 1200px;
    left: 50%;
    top: 50%;
    margin-left: -600px;
    position: absolute;
}

.arrows .fotorama_custom__arr--prev {
	background: url('../img/sprite.png') no-repeat -41px -10px;
	width: 17px;
	height: 29px;
	float: left;
	cursor: pointer;
}

.arrows .fotorama_custom__arr--next {
	background: url('../img/sprite.png') no-repeat -68px -10px;
	width: 17px;
	height: 29px;
	float: right;
	cursor: pointer;
}

.slider-item {
	position: absolute;
	bottom: 60px;
	width: 100%;
}

.slider-item h2 {
	color: #fff;
	width: 550px;
	margin-bottom: 55px;
}

.readmore {
	padding: 20px 100px 20px 40px;
	display: inline-block;
	text-decoration: none;
	letter-spacing: 2px;
	border: 1px solid #fff;
	color: #fff;
	font-size: 0.813rem;
	text-transform: uppercase;
	position: relative;
}

.readmore:before {
	content: '';
	position: absolute;
	right: 27px;
	top: 22px;
	background: url('../img/sprite.png') no-repeat -114px -18px;
	width: 7px;
	height: 12px; 
}

.readmore:after {
	content: '';
	width: 60px;
	height: 100%;
	position: absolute;
	right: 0;
	top: 0;
	border-left: 1px solid #fff;
}

.select-wrapper {
	position: relative;
	display: inline-block; 
}

button {
	padding: 20px 40px;
	font-size: 0.813rem;
	letter-spacing: 1px;
	text-transform: uppercase;
	border: 1px solid #3c3c3c;
	background: #262626;
	outline: none;
	color: #fff;
}

.drop-list {
	padding: 19px 100px 19px 40px;
	font-size: 0.813rem;
	text-transform: uppercase;
	letter-spacing: 1px;
	background: #262626;
	cursor: pointer;
	color: #fff;
	position: relative;
	outline: none;
	border: 1px solid #3c3c3c;
		-webkit-appearance: none;
	    -moz-appearance: none;
	appearance: none;
}

.select-wrapper:after {
	content: '';
	display: block;
	position: absolute;
	width: 60px;
	top: 1px;
	bottom: 1px;
	right: 0;
	pointer-events: none;
	border-left: 1px solid #3c3c3c;
	z-index: 30;
}

.select-wrapper:before {
	content: '';
	display: block;
	pointer-events: none;
	position: absolute;
	right: 24px;
    top: 26px;
	z-index: 40;
	background: url('../img/sprite.png') no-repeat -138px -21px;
	width: 12px;
	height: 7px;
}

.drop-list:focus {
	border: 1px solid #fff;
}

.filter {
	background: #262626;
	overflow: hidden;
	padding: 40px 0;
}

.filter h4 {
	color: #7d7d7d;
	margin: 0;
	width: 180px;
	display: block;
    float: left;
}

#filter-form {
	display: inline-block;
	overflow: hidden;
}

.filter .online-sale {
	display: inline-block;
	text-transform: uppercase;
	color: #fff;
	padding: 20px;
	text-decoration: none;
	position: relative;
	float: right;
}

.filter .online-sale:after {
	content: '';
	position: absolute;
	right: 0;
	top: 22px;
	background: url('../img/sprite.png') no-repeat -114px -18px;
	width: 7px;
	height: 12px;
}

.filter .select-wrapper, .filter button {
	margin-left: 16px;
}

.section-title {
 	display: block;
 	position: relative;
 	margin-top: 130px;
 	margin-bottom: 75px;
}

.section-title .line {
 	display: block;
 	position: absolute;
 	z-index: 1;
 	width: 100%;
 	top: 50%;
 	height: 2px;
 	background: #262626;
}

.section-title h2 {
 	display: inline-block;
 	background: #fff;
 	position: relative;
 	margin: 0;
 	z-index: 100;
 	padding-right: 23px;
}

.offers>div {
 	width: 33.3%;
 	float: left;
 	position: relative;
}

.offers>div h3, .offers>div p, .offers>div span {
	position: absolute;
}

.offers>div h3 {
	margin: 40px;
	top: 0;
	color: #fff;
}